:root {
    --blank: #414547;
    --darkgreen: #346410;
    --darkgrey: #18181a;
    --darkyellow: #695a18;
    --green: #6ecf22;
    --red: #bc382d;
    --round-corners: 0.5em;
    --yellow: #d8b833;
    --font-size: 1.2em;
    --thin: 0.05em;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size);
    overflow-y: hidden;
}

button,
input[type=file]::file-selector-button {
    border: none;
    border-radius: var(--round-corners);
    outline-color: transparent;
    cursor: pointer;
}

/* TODO: button hover doesn't work
   TODO: scrollbar, else the elements under body overflow disappear
    */

button:hover:not(:disabled),
input[type=file]::file-selector-button:hover:not(:disabled) {
    background-color: var(--highlight-color);
}

button:disabled {
    cursor: auto;
}

a {
    color: var(--link-color);
    cursor: pointer;
}

.successful {
    color: var(--green);
}

.error {
    color: #bc382d;
}

select {
    border-radius: var(--round-corners);
}

table, td, th {
    border: solid var(--blank) 0.1em;
}

table {
    border-collapse: collapse;
}

#download_frame {
    display: none;
}

#elementView {
    height: 50vh;
    height: 50dvh;
}

#elementView button {
    padding: 0.5em;
}

#optionWindowHeader {
    display: grid;
    gap: 0 var(--font-size);
    grid-template-columns: 1fr min-content;
    margin-bottom: var(--font-size);
}

#optionWindowHeader > button[data-close-modal] {
    background-color: var(--highlight-color);
    background-image: url("../images/x.svg");
    background-size: cover;
    background-repeat: no-repeat;
    place-self: start end;
    height: var(--font-size);
    width: var(--font-size);
}

#optionWindowHeader > #optionWindowTitle {
    overflow: hidden;
    place-self: start start;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

dialog {
    border: none;
    border-radius: var(--round-corners);
    max-width: 90%;
}

dialog input[type=text] {
    border: none;
    border-bottom: solid var(--thin);
}

dialog input[type=file] {
    padding: calc(var(--font-size) / 2);
    border-radius: var(--round-corners);
    border: solid var(--thin);
    max-width: 80%;
}

input[type=file]::file-selector-button {
    margin-right: var(--font-size);
}

.drop-container {
    align-items: center;
    border: dashed var(--thin);
    border-radius: var(--round-corners);
    cursor: pointer;
    display: flex;
    gap: calc(var(--font-size) / 2);
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    position: relative;
}

.folder,
.file {
    display: flex;
    flex-wrap: nowrap;
}

#sortBtns {
    display: grid;
    gap: 0 calc(var(--font-size) / 2);
    grid-template-columns: min-content minmax(10px, 4fr) minmax(95px, 1fr) minmax(50px, 1fr);
}

button[name=folder],
button[name=file] {
    background-color: transparent;
    border-top: solid var(--text-color) var(--thin);
    border-radius: 0;
    color: var(--text-color);
    display: grid;
    gap: 0 calc(var(--font-size) / 2);
    grid-template-columns: min-content minmax(10px, 4fr) minmax(95px, 1fr) minmax(50px, 1fr);
    overflow: hidden;
    width: 100%;
}

button[name=folder]:hover,
button[name=file]:hover {
    background-color: var(--highlight-color);
}

button[name=folder]:before {
    content: url("../images/folder.svg");
    filter: var(--svg-color);
}

button[name=file]:before {
    content: url("../images/file.svg");
    filter: var(--svg-color);
}

#sortBtns > button,
button[name=folder] > span,
button[name=file] > span {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
}

#sortBtns > button {
    place-self: center stretch;
}

button[name=folder] > span,
button[name=file] > span {
    place-self: center start;
}

@media (width <= 400px) {
    #sortBtns,
    button[name=folder],
    button[name=file] {
        grid-template-columns: min-content 1fr;
    }
    #sortBtns > button:nth-child(n+3),
    button[name=folder] > span:nth-child(n+2),
    button[name=file] > span:nth-child(n+2) {
        display: none;
    }
}



button[name=folder] > span:first-child,
button[name=file] > span:first-child {
    place-self: center start;
}

button[name=folder]:before,
button[name=file]:before {
    display: inline-block;
    height: calc(var(--font-size) - 0.2em);
    width: calc(var(--font-size) - 0.2em);
}

input[type=checkbox] {
    cursor: pointer;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.lockUI {
    background-color: #ffffffcc;
    display: grid;
    height: 100%;
    place-items: center;
    position: absolute;
    width: 100%;
    z-index: 8;
}

.lockUI > * {
    height: inherit;
    max-height: 5em;
    pointer-events: none;
    position: absolute;
}

#tree_view .selected {
    background-color: red;
    color: blue;
}

li span {
    background-color: green;
}

#optionWindowContent {
    text-align: left;
}

progress {
    text-align: center;
}
progress:after {
    content: attr(value)'/'attr(max);
}

#toggleThemeBtn:before {
    background-image: url("../images/theme.svg");
}

.icon-before:before {
    content: " ";
    background-size: cover;
    display: inline-block;
    height: 0.9em;
    width: 0.9em
}