@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --border-radius: 0.25em;
    --border-thin: solid var(--text-color) 0.05em;
    --font-family: 'Inter', sans-serif;
    --font-size: 1.125rem;
}

/*
 Firefox :has() bugs:
 https://connect.mozilla.org/t5/discussions/when-is-has-css-selector-going-to-be-fully-implemented-in/td-p/23794
*/
.lightTheme,
:root:has(#lightTheme:checked) {
    color-scheme: light;
    --background-color: hsl(240, 7%, 95%);
    --background-color: hsl(209, 100%, 84%);
    --highlight: hsl(226, 100%, 78%);
    --svg-color: invert(0%);
    --text-color: hsl(210, 9%, 14%);
}

.darkTheme,
:root:has(#darkTheme:checked) {
    color-scheme: dark;
    --background-color: hsl(210, 9%, 14%);
    --highlight: hsl(237, 63%, 59%);
    --svg-color: invert(100%);
    --text-color: hsl(240, 7%, 95%);
}

/************/
/* raw tags */
/************/

html {
    color-scheme: light dark;
}

body {
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family), sans-serif;
    font-size: var(--font-size);
    height: 100vh;
    height: 100dvh;
    justify-content: center;
}

button,
input[type=file]::file-selector-button {
    border: none;
    border-radius: var(--border-radius);
    font-family: inherit;
    outline-color: transparent;
}

button:hover:enabled,
button:focus,
input[type=file]::file-selector-button:hover {
    background-color: var(--highlight);
}

input[type=checkbox]:enabled {
    cursor: pointer;
}

input[type=text],
input[type=password] {
    border: none;
    border-bottom: var(--border-thin);
    font-family: inherit;
}

fieldset {
    border-radius: var(--border-radius);
}
fieldset select {
    width: 100%;
}

noscript {
    display: block;
    margin: 3rem;
    text-align: center;
}

select,
option {
    border-radius: var(--border-radius);
    font-family: inherit;
}

progress {
    height: calc(var(--font-size) * 2.5);
    text-align: center;
}

progress:after {
    content: attr(value)'/'attr(max);
    position: relative;
    top: 25%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 95vh;
    height: 95dvh;
    width: min(100ch, 100% - 3rem);
}

#wrapper header {
    flex: 0 1 auto;
}

#wrapper main {
    flex: 1 1 auto;
    overflow-y: auto;
}

/*************/
/* in header */
/*************/

header > section {
    display: grid;
    gap: calc(var(--font-size) / 2);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            'upl doc'
            'act act';
    margin: 0 auto;
    width: min(100%, 30ch);
}
#addFileBtn { grid-area: upl; }
#addFolderBtn { grid-area: doc; }

#elementActionForm {
    display: flex;
    gap: calc(var(--font-size) / 2);
    grid-area: act;
}
#elementAction { flex-grow: 2; }

#settingsBtn {
    display: block;
    position: relative;
    right: 0;
}

/**********/
/* in nav */
/**********/

#breadcrumbs {
    display: flex;
    font-size: calc(var(--font-size) * 1.2);
    gap: calc(var(--font-size) / 2);
    overflow: hidden;
    padding: 0.75em;
    white-space: nowrap;
}

#breadcrumbs span {
    cursor: default;
}
#breadcrumbs button {
    max-width: 75%;
}

#breadcrumbs button div {
    overflow: hidden;
    text-overflow: ellipsis;
}
.growFromLeft {
    justify-content: start;
}

.growFromRight {
    justify-content: end;
}

/***********/
/* in main */
/***********/

#elementView a {
    text-decoration: none;
}

main input[type=checkbox] {
    place-self: center stretch;
}

#sortBtns,
#elementView button {
    display: grid;
    gap: 0 calc(var(--font-size) / 2);
    grid-template-columns: min-content minmax(100px, 4fr) minmax(95px, 1fr) minmax(50px, 1fr);
    overflow: hidden;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}

main button:not(:hover),
main button:not(:focus) {
    background-color: transparent;
}

#sortBtns button,
#elementView button span {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
}

#sortBtns {
    background-color: var(--background-color);
    /*filter: drop-shadow(0 calc(var(--font-size) / 4) 0.75rem rgba(0, 0, 0, 0.5));*/
    position: sticky;
    top: 0;
    z-index: 1;
}

#elementView button {
    border-radius: 0;
    border-top: var(--border-thin);
    text-align: left;
    width: 100%;
}

#elementView button span:last-of-type {
    text-align: right;
}

#elementView button :nth-child(2)::before {
    content: "";
    background-repeat: no-repeat;
    filter: var(--svg-color);
    height: 100%;
    padding-left: 1.75rem;
    width: 100%;
}

#elementView button[name=folder] :nth-child(2)::before {
    background-image: url("../images/folder.svg");
}

#elementView button[name=file] :nth-child(2)::before {
    background-image: url("../images/file.svg");
}

/*#elementView input[type=checkbox] {
    opacity: 0;
}
#elementView input[type=checkbox]:checked,
#elementView input[type=checkbox]:hover {
    opacity: 1;
}*/

/*************/
/* in footer */
/*************/

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(var(--font-size) / 2);
    padding-top: 0.5em;
    width: 100%;
}

/**************/
/* data modal */
/**************/

dialog[open] {
    border-radius: var(--border-radius);
    display: grid;
    gap: var(--font-size) 0;
    grid-template-rows: auto 1fr;
}

dialog input[type=file] {
    margin: auto;
    width: 80%;
}

dialog:has(form) #optionWindowContent > form {
    display: grid;
    gap: 1em 0;
    grid-template-rows: 1fr auto;
}

.drop-container {
    align-items: center;
    border: var(--border-thin);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    overflow: auto;
    position: relative;
    text-align: center;
}

#optionWindowHeader {
    display: grid;
    gap: 0 1em;
    grid-template-columns: 1fr min-content;
}

#optionWindowHeader > button[data-close-modal] {
    background-color: #F25E6B;
    background-image: url("../images/x.svg");
    background-size: cover;
    background-repeat: no-repeat;
    place-self: start end;
    height: var(--font-size);
    width: var(--font-size);
}

#optionWindowHeader > #optionWindowTitle {
    overflow: hidden;
    place-self: start start;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#optionWindowContent {
    overflow: auto;
}

#optionWindowContent > ol {
    padding-left: var(--font-size);
}

/* Folder selection tree */

dialog:has(#treeView) {
    height: 40vh;
    height: 40dvh;
    width: min(50ch, 100% - 7rem);
}
dialog:has(#treeView) #optionWindowContent {
    display: grid;
    gap: 1em 0;
    grid-template-rows: 1fr auto;
    overflow: auto;
}
#optionWindowContent #treeView {
    overflow: auto;
}
#optionWindowContent #treeView button {
    background-color: transparent;
}
#optionWindowContent #treeView li {
    list-style-type: none;
}
#optionWindowContent #treeView span {
    border-bottom: var(--border-thin);
    display: grid;
    grid-template-columns: auto 1fr;
}
#optionWindowContent #treeView > ul {
    padding: 0;
}
#optionWindowContent #treeView .selected {
    background-color: var(--highlight);
}

/**************/
/* login_form */
/**************/

#register_form,
#login_form {
    display: grid;
    grid-template-rows: auto;
}

#register_form > *,
#login_form > * {
    width: 100%;
}

/************************/
/* multipurpose classes */
/************************/

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.lockUI {

}